@import url("constants.css");

body {
    height: 100%;
    background:linear-gradient(to right top, #FFFFFF8a, #FFFFFF8a), url(../assets/img/splash-bg.jpg);
    background-size: cover;
    background-position: center;
    align-content: center;
}

form {
    max-width: 90%;
    min-width: 30%;
    margin-left: 1rem;
    
    label {
        display: flex;
        margin-top: 0.5rem;
        font-size: 1.1rem;
        font-weight: 700;
    }

    input {
        width: 100%;
        padding: 7px;
        border: none;
        border: 1px solid gray;
        border-radius: 6px;
        outline: none;
    }
}

h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 2rem;
}

h4 {
    font-weight: unset;
    font-size: 0.8rem;
}

form .terms {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    margin-right: auto;
}
